* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;    
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Header / Nav */
nav {
    background-color: #000044;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0 40px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a {
    display: block;
    padding: 20px 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 22px;
}

nav ul li:hover {
    background-color: #00537f;
}

nav ul li a:hover {
    color: #cbd5e1;
}

/* Formulario */
.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

#heartForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    font-size: 32px;
}

.form-content {
    display: flex;
    flex-wrap: wrap; /* Para que se acomoden mejor en pantallas pequeñas */
    gap: 20px;
    width: 100%;
}

/* Fieldset general */
fieldset.datos-personales {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 20px;
    width: 48%;
    max-height: 300px;
}

fieldset.datos-medicos {
    width: 50%;
    height: 400px; /* Altura fija para que overflow-y funcione */
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

*::-webkit-scrollbar {
    width: 1px;
}

legend {
    background-color: #000444;
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: bold;
}

/* Estilo de inputs */
.datos-personales div,
.container-datos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
}

/* Pie de formulario */
.form-bottom {
    text-align: center;
}

input[type="submit"] {
    padding: 12px 40px;
    background-color: #002860;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #63849e;
}

/* Footer */
footer {
    background-color: #000044;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
}


/* ESTILOS PARA FOMULARIO DE PACIENTE */
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000044;
    color: #fff;
    border-radius: 5px;
    position: sticky;
    z-index: 1000;
}

.paciente-DatosMedicos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    min-height: 100px;
    margin-top: 20px;
}


/* ESTILOS PARA PACIENTES.HTML */

.titulo {
    font-size: 24px;
    margin: 20px;
    color: #000444;
    text-transform: uppercase;
    text-align: center;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 16px 12px;
    text-align: center;
    font-size: 18px;
    color: #000;
}

th {
    background-color: #000044;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
}

.botonHistorial {
    background-color: #00537f;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.botonHistorial:hover {
    background-color: #63849e;
}

.historial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.historial {
    margin: auto;
    width: 90%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    gap: 10px;
}

.historiales {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding: 10px;
    
    max-height: 400px;
    overflow-y: auto;
}

.historiales::-webkit-scrollbar {
    width: 8px;
}

.historial-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000044;
    color: #fff;
    border-radius: 5px;
    position: sticky;
    z-index: 1000;
    width: 100%;
}

.historial-header h3{
    font-weight: 300;
    text-transform: uppercase;
}

.historial-header .botonCerrar{
    background-color: #002860;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 700;
}

.historial-header .botonCerrar:hover {
    background-color: #63849e;
    color: #aab5bd;
}

.historial-header .botonCerrar:focus {
    outline: none;
}

.historial-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.historial-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.historial-item h3{
    margin-bottom: 10px;
    font-size: 30px;
}

.datosPaciente{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    gap: 10px;
    font-size: 24px;
    width: 100%;
    min-height: 100px;
}

.no-mostrar{
    display: none;
}

/* Animaciones de entrada y salida */
.fade-slide-in {
    animation: fadeIn 0.5s ease-in-out;
}

.fade-slide-out {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-20px); }
}
