* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    max-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

nav{
    background-color: #000044;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 25px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav ul li:hover {
    background-color: #00537f;
}

nav ul li a {    
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #aab5bd;
}

main {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column; 
    align-items: center;
}

h1{
    margin-bottom: 20px;
    color: #000;
}

fieldset{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

fieldset legend {
    padding: 5px 10px;
    background-color: #000444;
    color: #fff;
    border-radius: 15px;
}

.container-datos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-datos select, input {
    width: 85%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #000;
}

.datos-personales {
    width: 100%;
    flex-direction: row;
}

.datos-personales div {
    width: 100%;
    padding: 10px;
}

.datos-personales div input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
}

form input[type="submit"] {
    width: 100%;
    background-color: #002860;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #63849e;
}
